<div class="search-container">
  <div class="filter">
    <select
      [ngModel]="status"
      (change)="onStatusChange($event)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Status(All)</option>
      <option value="live">Live</option>
      <option value="completed">Completed</option>
      <option value="upcoming">Upcoming</option>
    </select>
    <select
      [ngModel]="catagory"
      (change)="onCatagoryChange($event)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Catagory</option>
      <option value="art">Art</option>
      <option value="electronics">Electronics</option>
      <option value="fashion">Fashion</option>
      <option value="sports">Sports</option>
      <option value="books">Books</option>
    </select>
    <select
      [ngModel]="sortBy"
      (change)="onSortByChange($event)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Sort By</option>
      <option value="newest">Newest First</option>
      <option value="lowest">Lowest Prize</option>
      <option value="pname">Product Name</option>
    </select>
  </div>
  <div class="items-search">
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </div>
</div>
