<div class="search-container">
  <div class="filter">
    <select
      [ngModel]="status"
      (change)="onFilterChanges('status', $event.target.value)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Status(All)</option>
      <option value="live">Live</option>
      <option value="completed">Completed</option>
      <option value="upcoming">Upcoming</option>
    </select>
    <select
      [ngModel]="category"
      (change)="onFilterChanges('category', $event.target.value)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Category(All)</option>
      <option value="art">Art</option>
      <option value="electronics">Electronics</option>
      <option value="fashion">Fashion</option>
      <option value="sports">Sports</option>
      <option value="books">Books</option>
    </select>
    <select
      [ngModel]="sortBy"
      (change)="onFilterChanges('sortBy', $event.target.value)"
      class="btn btn-primary auction-select"
    >
      <option value="" selected>Sort By</option>
      <option value="startDate:asc">Starting Date</option>
      <option value="basePrice:asc">Lowest Prize</option>
      <option value="basePrice:desc">Highest Prize</option>
      <option value="name:asc">Product Name</option>
    </select>
  </div>
  <div class="items-search">
    <div *ngIf="items.length == 0">No Product Found</div>
    <app-item *ngFor="let item of items" [item]="item"></app-item>
  </div>
  <div *ngIf="!isEndOfData" class="loading">
    <div class="lines l1"></div>
    <div class="lines l2"></div>
    <div class="lines l3"></div>
    <div class="lines l4"></div>
    <div class="lines l5"></div>
  </div>
</div>
