<div class="card" style="width: 18rem">
  <div class="favIcon">
    <i class="ni ni-favourite-28"></i>
  </div>
  <img
    class="card-img-top"
    src="https://images.unsplash.com/photo-1533035353720-f1c6a75cd8ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
    alt="Card image cap"
  />
  <div class="card-body">
    <h4 class="card-title">{{ item.name }}</h4>
    <p class="card-text">
      {{ item.description }}
    </p>
    <div class="card-text details">
      <span
        >Bid Amount : <b>{{ item.basePrize }}</b></span
      ><span class="badge badge-dot">
        <i class="bg-danger"></i>{{ item.status }}
      </span>
    </div>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
</div>
