.col-lg-5 {
  flex: 0 0 80.666667%;
  max-width: 80.666667%;
}

.py-5 {
  padding-bottom: rem !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}

.card1 {
  position: absolute;
  background-color: #e0e0e0;
  display: flex;
  top: 50%;
  left: 40%;
  // margin-top: -300px;
  // transform-origin: 50% bottom;
}
