<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Change-password</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
</div>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">


                    <form [formGroup]="form" (ngSubmit)="submit()">

                        <div class="form-group">
                            <label for="oldpassword">Old Password</label>
                            <input formControlName="oldpassword" id="oldpassword" type="password" class="form-control" required>
                            <div *ngIf="f.oldpassword.touched && f.oldpassword.invalid" class="alert alert-danger">
                                <div *ngIf="f.oldpassword.errors.required">
                                    <h4>Old Password is required.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            <input [class.border-success]="f.newpassword.valid" formControlName="newpassword" id="newpassword" type="password" class="form-control border">
                            <div *ngIf="(f.newpassword.touched || f.newpassword.dirty) && f.newpassword.invalid" class="alert alert-danger">

                                <div *ngIf="f.newpassword.errors.required">
                                    <h4>Password is required.</h4>
                                </div>
                                <div *ngIf="f.newpassword.errors.pattern">
                                    <h4>Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirm_password">Confirm Password</label>
                            <input [class.border-success]="f.confirm_password.valid" formControlName="confirm_password" id="confirm_password" type="password" class="form-control border">
                            <div *ngIf="(f.confirm_password.touched || f.confirm_password.dirty) && f.confirm_password.invalid" class="alert alert-danger">
                                <div *ngIf="f.confirm_password.errors.required">
                                    <h4>Password is required.</h4>
                                </div>
                                <div *ngIf="f.confirm_password.errors.confirmedValidator">
                                    <h4>Password and Confirm Password must be Same.</h4>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>