<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                    <h1 class="text-white">Forgot Password</h1>

                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
</div>
<div class="container mt--8 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">




                    <div class="form-group">
                        <label for="">Email</label>
                        <input formControlName="Email" type="email" class="form-control">

                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary">Continue</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>