<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">

      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3 class="mb-0">Product Table</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Product Id</th>
                  <th scope="col">Status</th>
                  <th scope="col">view Product </th>
                  <th scope="col">View Bill</th>
                  <th scope="col">Remove Users</th>
                </tr>
              </thead>
              <tbody>

                
                <tr *ngFor="let product of products">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{product.name}}</span>
                      </div>
                    </div>
                  </th>
                  <td>
                    S1
                  </td>
                  <td>
                    <span class="badge badge-dot mr-4">
                      <!-- <i class="bg-warning"></i> pending -->
                      <select name="" id="">
                        <option value="" >verified</option>
                        <option value="">not verified</option>
                      </select>
                    </span>
                  </td>
                  <td>
                    <div class="avatar-group">
                    
                      <button type="button" class="btn btn-default"> VIEW </button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <button type="button" class="btn btn-default"> VIEW BILL </button>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                   
                      <button type="button" class="btn btn-danger"> Remove </button>
                    </div>
                  </td>
                  
                  <td class="text-right">
                    <div ngbDropdown placement="bottom-right">
                      <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                        <a class="dropdown-item" href="javascript:void(0)">Action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Another action</a>
                        <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
                      </div>
                    </div>
                  </td>
                </tr>




                
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="javascript:void(0)">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0)">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    