<app-navbar></app-navbar>
<div class="container">
  <div class="lead">
    <div class="close">
      <i class="ni ni-fat-remove"></i>
    </div>
    Auction of <u>ItemName</u> (Maximum Bid: 300$) Started 2m ago
  </div>
  <div class="lead">
    <div class="close">
      <i class="ni ni-fat-remove"></i>
    </div>
    Auction of <u>Item2Name</u> (Maximum Bid: 400$) Ended 5m ago
  </div>
  <div class="lead">
    <div class="close">
      <i class="ni ni-fat-remove"></i>
    </div>
    Auction of <u>Item3Name</u> (Maximum Bid: 134$) Started 1h ago
  </div>
  <div class="lead">
    <div class="close">
      <i class="ni ni-fat-remove"></i>
    </div>
    Auction of <u>Item4Name</u> (Maximum Bid: 140$) Started 2d ago
  </div>
</div>
<app-footer></app-footer>
