<app-header></app-header>
<div class="search-container">
  <div class="filter">
    <select class="btn btn-primary auction-select">
      <option selected>Status</option>
      <option value="1">Live</option>
      <option value="2">Completed</option>
      <option value="3">Upcoming</option>
    </select>
    <select class="btn btn-primary auction-select">
      <option selected>Catagory</option>
      <option value="1">Art</option>
      <option value="2">Electronics</option>
      <option value="3">Fashion</option>
      <option value="3">Sports</option>
    </select>
    <select class="btn btn-primary auction-select">
      <option selected>Sort By</option>
      <option value="1">Newest First</option>
      <option value="2">Lowest Prize</option>
      <option value="3">Product Name</option>
    </select>
  </div>
  <div class="items-search">
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
    <app-item></app-item>
  </div>
</div>
<app-footer></app-footer>
