<div class="header bg-gradient-danger py-7 py-lg-3">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white"></h1>
          <p class="text-lead text-light"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="width: 25rem;margin: auto;">
    <div class="text-center text-muted mb-4">
            
    </div>
    <div class="card card-stats mb-4 mb-lg-0" style="margin-top: 150px">
        
      <div class="card-body">
        <div class="row">
          <form>
            <div class="form-group">
              <h2 style="color:black;">Seller Verification</h2>  
              <p>To Become a seller Please upload a Valid Document</p>
              <div>
              <label for="exampleFormControlFile1">Upload PAN Card*</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
              <div style="margin-top: 30px;">
                <label for="exampleFormControlFile1">Upload Election Card/Electricity Bill *</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
              <div>
            </div>
            
              <button type="button" class="btn btn-primary btn-sm" style="margin-top: 50px ; width: 170px">Upload</button>
            
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>