
<div class="product_div">   
    <div class="product_image_div">
        <img class="product_img" src="../../assets/images/mobile.jpeg" alt="car_image">
        <div class="product_images_div">
            <img class="product_img_min" src="../../assets/images/mobile.jpeg" alt="car_image">
            <img class="product_img_min" src="../../assets/images/mobile.jpeg" alt="car_image">
            <img class="product_img_min" src="../../assets/images/mobile.jpeg" alt="car_image">
            <img class="product_img_min" src="../../assets/images/mobile.jpeg" alt="car_image">
        </div>
    </div>
    <div class="product_info_div">
        <h2 class="product_name">Vintage Car</h2>
        <p class="product_description_title">Description : </p>
        <p class="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum voluptatem qui at optio rerum fuga ut dolor sint distinctio, deserunt repellendus sit provident ullam. Molestias assumenda deserunt molestiae odio ad!</p>
        <p class="product_catagory"><span class="span_product_catagory">Catagory :</span> Automibiles</p>
        <p class="product_seller"><span class="span_product_seller">Seller : </span>Yash Maheshwari</p>
        <p class="product_date"><span class="span_product_date">Date :</span>  03/12/22</p>
        <button class="btn_addToLike">Add to Liked</button>
    </div>
        
</div>



<div class="upcoming_div">
    <div class="upcoming_sub_div">
        <h3 class="upcoming_status"><span class="span_upcoming"> Up-Coming</span></h3>
        <p>Start Date : 03/12/22</p>
        <p>End Date : 10/12/22</p>
        <p class="base_price">Base Price : <span class="span_price">$500</span></p>
        
    </div> 
</div>


<div class="live_div">
    <div class="live_sub_div">
        <h3 class="live_status"><span class="span_live"> Live</span></h3>
        <p class="current_bid_amount">Current Bid Amount : <span class="span_price">$1000</span></p>
        <p class="current_bid_amount">Your Last Bid Amount : <span class="span_price">$800</span></p>
        <p class="base_price">Base Price : <span class="span_price">$500</span></p>
        <p>End Date : 10/12/22</p>
        <br>
        
    </div>

    
    <div class="live_bidding_div">
        <h3 class="live_bidding_title">Bidding Details :</h3>
        <hr>
        <div class="live_bidding_history">
            <p> <span class="span_comment_username">Jinang Shah :</span> $1100</p>
            <p> <span class="span_comment_username">Deep Patel :</span>$900</p>
            <p> <span class="span_comment_username">Jinang Shah :</span> $800</p>
            <p> <span class="span_comment_username">Deep Patel :</span>$600</p>
            <p> <span class="span_comment_username">Jinang Shah :</span> $500</p>
            <p> <span class="span_comment_username">Deep Patel :</span>$300</p>
        </div>
        <hr>


        <input class="live_bidding_input" type="text" placeholder="enter $100">
        <br>
        <button class="live_bidding_btn">Make Bid</button>
    </div>
    
</div>

<div class="live_div">
    <div class="live_sub_div">
        <h3 class="completed_status"> <span class="span_completed"> Completed</span></h3>
        <p class="current_bid_amount">Sold For : <span class="span_price">$1000</span></p>
        <p class="base_price">Base Price : <span class="span_price">$500</span></p>
        <p>Completed On : 10/12/22</p>
    </div>

</div>

<div class="product_comments_div">
    <div class="product_comments_sub_div">
        <h3 class="comment_title">Comment Section :</h3>
        <input class="comment_input" type="text" placeholder="write comment">
        <button class="post_comment_btn">Post</button>
        <div class="user_comments">
            <p> <span class="span_comment_username">Jinang Shah :</span> this car still runs?</p>
            <p> <span class="span_comment_username">Yash Maheshwari :</span>  Yes!!</p>
        </div>
        
    </div>
</div>