<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <h3 class="text-lead text-light">To The Online Auction</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small></small></div>
          <div class="text-center">
            <div>
              <i class="ni ni-single-02"></i>
              <h2>Registration</h2>
            </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small></small>
          </div>
          <form role="form" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <!-- NAME -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-hat-3"></i
                  ></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Name"
                  type="text"
                  required
                  ngModel
                  name="name"
                  #name="ngModel"
                />
              </div>
              <span class="help-block" *ngIf="!name.valid && name.touched">
                Please Enter Name!</span
              >
            </div>
            <div class="form-group">
              <!-- EMAIL -->
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    id="email"
                    name="email"
                    ngModel
                    #emailref="ngModel"
                    placeholder="Email"
                    required
                  />
                </div>
                <div
                  *ngIf="
                    emailref.errors && (emailref.touched || emailref.dirty)
                  "
                >
                  <div [hidden]="!emailref.errors?.pattern">Invalid Email</div>
                </div>
              </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-lock-circle-open"></i
                  ></span>
                </div>
                <input
                  type="password"
                  class="form-control"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  id="password"
                  name="password"
                  ngModel
                  #passwordref="ngModel"
                  placeholder="Password"
                  required
                />
              </div>
              <div
                *ngIf="
                  passwordref.errors &&
                  (passwordref.touched || passwordref.dirty)
                "
              >
                <div [hidden]="!passwordref.errors?.pattern.required">
                  Password must be required
                </div>
                <div *ngIf="passwordref.errors.pattern">
                  Must contain at least one number and one uppercase and
                  lowercase letter, and at least 8 or more characters.
                </div>
              </div>
            </div>

            <!-- PHONE NUMBER -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-mobile-button"></i
                  ></span>
                </div>
                <input
                  pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/"
                  class="form-control"
                  type="number"
                  id="phone"
                  name="phone"
                  pattern="^((\\+91-?)|0)?[0-9]{10}$"
                  required
                  ngModel
                  #numberref="ngModel"
                  appPhoneMask
                  placeholder="Mobile Number"
                />
              </div>
              <div *ngIf="numberref.errors">
                <div [hidden]="!numberref.errors?.pattern">Invalid pattern</div>
              </div>
            </div>

            <!-- ADDRESS -->
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                    ><i class="ni ni-align-left-2"></i
                  ></span>
                </div>
                <textarea
                  class="form-control"
                  placeholder="address"
                  type="text"
                  ngModel
                  required
                  name="address"
                ></textarea>
              </div>
            </div>

            <!-- CITY -->
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="city">City</label>
                  <input
                    type="text"
                    id="input-city"
                    class="form-control form-control-alternative"
                    placeholder="City"
                    required
                    ngModel
                    name="city"
                  />
                </div>
              </div>

              <!-- STATE -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-state"
                    >States</label
                  >
                  <input
                    type="text"
                    id="input-state"
                    class="form-control form-control-alternative"
                    placeholder="State"
                    required
                    ngModel
                    name="state"
                  />
                </div>
              </div>

              <!-- POSTAL-CODE -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-postal-code"
                    >Postal code</label
                  >
                  <input
                    type="number"
                    id="input-postal-code"
                    class="form-control form-control-alternative"
                    placeholder="Postal Code"
                    required
                    ngModel
                    name="postalCode"
                  />
                </div>
              </div>
            </div>

            <hr />
            <!-- FILE TO UPLOAD -->
            <input
              type="file"
              accept="application/pdf"
              name="doc"
              ngModel
              required
              (change)="onaadharcardselect($event)"
            />
            <br /><br />
            (UPLOAD AADHAR CARD (PDF))*

            <!-- PRIVACY POLICY -->
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    class="custom-control-input"
                    id="customCheckRegister"
                    type="checkbox"
                    required
                    ngModel
                    name="checkbox"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted"
                      >I agree with the <a href="#!">Privacy Policy</a></span
                    >
                  </label>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center align-items-center">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!f.valid"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <ul>
    <li *ngFor="let items; of">
      {{ item.name }}
    </li>
  </ul>
</div>
