<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">

            <div class="row">
                <div class="col-10">
                    <div class="card bg-default shadow">
                        <div class="card-header bg-transparent border-0">
                            <h1 class="text-white mb-0">Complains of Users List</h1>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-dark table-flush">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Complain Details</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                
                                </thead>
                                <div *ngFor="let complain of complainListArr | keyvalue">
                                    <div *ngFor="let com of complain.value">
                                <tbody>   
                                    <tr>
                                        <td scope="row">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <span class="mb-0 text-sm">{{com.date}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{com.name}}</td>
                                        <td>
                                            <a [routerLink]="['/admin-complain',com.id]">
                                                <button type="button" class="btn btn-secondary btn-sm">
                                                View Complain
                                                </button></a>
                                        </td>
                                        <td>
                                            <select name="" id="">
                                                <option [selected]="com.status=='pending'">Pending</option>
                                                <option [selected]="com.status=='solved'">Solved</option>
                                            </select>   
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                </div>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->