<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
        <div class="header-body text-center mb-7">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">

                </div>
            </div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</div>
<!-- Seller Details -->
<div class="container mt--9 pb-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="card-body px-lg-5 py-lg-5">
                        <div class="item-info">Seller Details</div> <br> <br> <br>
                        <form role="form">
                            <table>
                                <tr>

                                    <td>
                                        <h2>Seller Name</h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="form-control"> Seller Name</div>
                                    </td>
                                    <td>
                                        <button type="button" (click)="viewCompleteProfile()" class="btn btn-primary my-1">View Complete Profile</button>
                                    </td>
                                </tr><br><br>
                                <tr>
                                    <td>
                                        <h2>Seller Orignal Aadhar :</h2>
                                    </td>
                                    <td>

                                        <a href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">
                                            <button type="button" class="btn btn-primary my-1">View
                                                Document</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Seller Orignal PAN :</h2>
                                    </td>
                                    <td>

                                        <a href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">
                                            <button type="button" class="btn btn-primary my-1">View
                                                Document</button></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Seller Electioncard/Electricity Bill :</h2>
                                    </td>
                                    <td>

                                        <a href="/uploads/media/default/0001/01/540cb75550adf33f281f29132dddd14fded85bfc.pdf">
                                            <button type="button" class="btn btn-primary my-1">View
                                                Document</button></a>
                                    </td>
                                </tr>
                            </table>
                            <br><br>

                            <div class="text-center">
                                <button type="button" class="btn btn-primary my-1" (click)="goBack()">Back</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>