.col-lg-5 {
  flex: 0 0 80.666667%;
  max-width: 80.666667%;
}

.py-5 {
  padding-bottom: 1 rem !important;
}
.pb-5 {
  padding-bottom: 1 rem !important;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.5rem;
}
.item-info {
  color: black;
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  background-color: rgb(184, 184, 184);
  border-radius: 4px;
}
.text-center {
  text-transform: capitalize;
}
